<% if @account.errors.any? %>
<ul class="alert alert-error error_form_list">
	<% @account.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
	<% end %>
</ul>
<% end %>

<%= form_for([:admin,@account], :html =>{:class=>"form-horizontal"}) do |f| %>

	<div class="control-group">
		<%= f.label :user_id, "User",:class=>"control-label" %>
		<div class="controls">
			<%= f.select(:user_id, @users.collect {|s| [s.name, s.id]},{:prompt => 'Select a user'}) %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :business_type_id, "Bussiness Type",:class=>"control-label" %>
		<div class="controls">
			<%= f.select(:business_type_id, @business_types.collect {|s| [s.sector, s.id]},{:prompt => 'Select a business type'}) %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :account_type, :class=>"control-label" %>
		<div class="controls">
			<%= f.select :account_type, options_for_select([["Select an account type",""],["Small", "SMALL"], ["Big", "BIG"]]) %>
		</div>
	</div>



	<div class="control-group">
		<%= f.label :name, :class=>"control-label" %>
		<div class="controls">
			<%= f.text_field :name %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :email, :class=>"control-label" %>
		<div class="controls">
			<%= f.text_field :email %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :address, :class=>"control-label" %>
		<div class="controls">
			<%= f.text_area  :address, :class=>"adress_text_area" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :description, :class=>"control-label" %>
		<div class="controls">
			<%= f.text_area  :description, :class=>"adress_text_area" %>
		</div>
	</div>

	<div class="form-buttons pull-right" >
				<%= link_to("Back to List", admin_accounts_path, :class => 'btn btn-inverse') %>
				<%= f.submit  :class =>"btn btn-primary" %>
	</div>


<% end %> 