<div class="row-fluid">
	<div class="span10 offset1">
		<h1>Listing Accounts</h1>

		<table class="table table-hover">
		<thead>
		<tr>
		<th>Id</th>	
		<th>Name</th>
		<th>Email</th>
		<th class="hidden-tablet">Type</th>
		<th>User</th>
		<th class="hidden-tablet">Business Type</th>

		<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<% @accounts.each do |account| %>
		<tr>
		<td><%= account.id %></td>	
		<td><%= account.name %></td>
		<td><%= account.email %></td>
		<td class="hidden-tablet"><%= account.account_type %></td>
		<td><%= account.user ? account.user.name : "N/A"  %></td>
		<td class="hidden-tablet"><%= account.business_type ? account.business_type.sector : "N/A"  %></td>

		<td>

	 			<%= link_to "Edit", edit_admin_account_path(account), :class=>"btn btn-info" %>
				<%= link_to "Delete", delete_admin_account_path(account), :class=>"btn btn-danger" %>
				
		</td>

		</tr>
		<% end %>
		</tbody>
	
	</table>


		<div class="other_actions">
			<%= link_to "Add Account", new_admin_account_path , :class => "btn btn-primary" %>
	
			
			<%= will_paginate @accounts %>
			
		</div>

		<br />
	</div>
</div>