<div class="row">
	<div class="span12">
		<h1>Listing Tasks</h1>

		<table class="table table-hover">
		<thead>
		<tr>
		<th>Id</th>
		<th>Subject</th>
		<th>User Assigned</th>
		<th>Contact</th>
		<th>Account</th>

		<th>Start Date</th>
		<th>Limit Date</th>
		<th>End Date</th>

		<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<% @tasks.each do |task| %>
		<tr>
		<td><%= task.id %></td>
		<td><%= task.subject %></td>
		<td><%= task.user ? task.user.name : "N/A"  %></td>
		<td><%= task.contact ? task.contact.name : "N/A"  %></td>
		<td><%= task.account ? task.account.name : "N/A"  %></td>
		<td><%= task.start_date.strftime("%m/%d/%Y") %></td>
		<td><%= task.limit_date.strftime("%m/%d/%Y") %></td>
		<td><%= task.end_date.strftime("%m/%d/%Y") %></td>

		<td>

		
	 			<%= link_to "Edit", edit_admin_task_path(task), :class=>"btn btn-info" %>
				<%= link_to "Delete", delete_admin_task_path(task), :class=>"btn btn-danger" %>
				

	</td>

	</tr>
	<% end %>
	</tbody>

	</table>

	<div class="other_actions">

		<%= link_to "New task", new_admin_task_path, :class => "btn btn-primary" %>
	
		<%= will_paginate @tasks %>

	</div>

	<br />
</div>
</div>