<% if @contact.errors.any? %>
  <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<table summary="contact form fields">
	
	  <tr>
    <th><%= f.label(:user_id, "User") %></th>
    <td><%= f.select(:user_id, @users.collect {|s| [s.name, s.id]}) %></td>
  </tr>
  
  <tr>
    <th><%= f.label(:status) %></th>
    
    <td>    	
    <%= f.select :status, options_for_select([["Active", "ACTIVE"], ["Inactive", "INACTIVE"]]) %>	
    </td>
  </tr>
	
  <tr>
    <th><%= f.label(:first_name) %></th>
    <td><%= f.text_field(:first_name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:last_name) %></th>
    <td><%= f.text_field(:last_name) %></td>
  </tr>
  
 
  
  
  
  <tr>
    <th><%= f.label(:email) %></th>
    <td><%= f.text_field(:email) %></td>
  </tr>
  
   <tr>
    <th><%= f.label(:address) %></th>
    <td><%= f.text_area  :address %></td>
  </tr>
  
</table>
