<div class="row">
	<div class="span10 offset1">
		<h1>Listing Contacts</h1>

		<table class="table table-hover">
		<thead>
		<tr>
		<th>Id</th>	
		<th>First Name</th>
		<th>Last Name</th>
		<th>Status</th>
		<th>User</th>
		<th>Email</th>

		<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<% @contacts.each do |contact| %>
		<tr>
		<td><%= contact.id %></td>	
		<td><%= contact.first_name %></td>
		<td><%= contact.last_name %></td>
		<td><%= contact.status %></td>
		<td><%= contact.user ? contact.user.name : "N/A"  %></td>
		<td><%= contact.email %></td>

		<td>
		
	 			<%= link_to "Edit", edit_admin_contact_path(contact), :class=>"btn btn-info" %>
				<%= link_to "Delete", delete_admin_contact_path(contact), :class=>"btn btn-danger" %>
				
		</td>

		</tr>
		<% end %>
		</tbody>
	
	</table>


		<div class="other_actions">
			<%= link_to "New contact", new_admin_contact_path, :class => "btn btn-primary" %>
	
			
			<%= will_paginate @contacts %>
			
		</div>

		<br />
	</div>
</div>