<% if @opportunity.errors.any? %>
<ul class="alert alert-error error_form_list">
	<% @opportunity.errors.full_messages.each do |msg| %>
	<li>
		<%= msg %>
	</li>
	<% end %>
</ul>
<% end %>

	<%= form_for([:admin, @opportunity], :html =>{:class=>"form-horizontal"}) do |f| %>

	<div class="control-group">
		<%= f.label :user_id, "User",:class=>"control-label" %>
		<div class="controls">
			<%= f.select(:user_id, @users.collect {|s| [s.name, s.id]},{:prompt => 'Select a user'}) %>
		</div>
	</div>

<div class="control-group">
		<%= f.label :account_id, "Account",:class=>"control-label" %>
		<div class="controls">
			<%= f.select(:account_id, @accounts.collect {|s| [s.name, s.id]},{:prompt => 'Select an account'}) %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :status, :class=>"control-label" %>
		<div class="controls">
			<%= f.select :status, options_for_select([["Select a status",""],["Active", "ACTIVE"], ["Inactive", "INACTIVE"]]) %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :amount, :class=>"control-label" %>
		<div class="controls">
			<%= f.text_field :amount %>
		</div>
	</div>

	
	<div class="control-group">
		<%= f.label :description, :class=>"control-label" %>
		<div class="controls">
			<%= f.text_area  :description, :class=>"adress_text_area" %>
		</div>
	</div>


<div class="form-buttons pull-right" >
				<%= link_to("Back to List", admin_opportunities_path, :class => 'btn btn-inverse') %>
				<%= f.submit :class =>"btn btn-primary" %>
</div>


<% end %>
