<div class="row-fluid">
	<div class="span10 offset1">
		<h1>Listing Opportunities</h1>

		<table class="table table-hover">
		<thead>
		<tr>
		<th>Id</th>	
		<th>Responsable User</th>
		<th>Linked Account</th>
		<th>Amount</th>
		<th>Status</th>
		<th>Actions</th>
		</tr>
		</thead>
		<tbody>
		<% @opportunities.each do |opportunity| %>
		<tr>
		<td><%= opportunity.id %></td>	
		<td><%= opportunity.user ? opportunity.user.name : "N/A"  %></td>
		<td><%= opportunity.account ? opportunity.account.name : "N/A"  %></td>
		<td><%= opportunity.amount %></td>
		<td><%= opportunity.status %></td>

		<td>
	
	 			<%= link_to "Edit", edit_admin_opportunity_path(opportunity), :class=>"btn btn-info" %>
				<%= link_to "Delete", delete_admin_opportunity_path(opportunity), :class=>"btn btn-danger" %>
				
	
		</td>

		</tr>
		<% end %>
		</tbody>
	
	</table>


		<div class="other_actions">
			

			<%= link_to "New Opportunity", new_admin_opportunity_path, :class => "btn btn-primary" %>			
			<%= will_paginate @opportunities %>
			
		</div>

		<br />
	</div>
</div>