<div class="row-fluid">
	<div class="span10 offset1">
		<h1>Listing users</h1>

		<table class="table table-hover">
		<thead>
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>User Name</th>
			<th class="hidden-tablet">Email</th>
			<th>Is Admin?</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
			<td><%= user.id %></td>	
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.username %></td>
			<td class="hidden-tablet"><%= user.email %></td>
			<td><%= user.is_admin %></td>
			<td> 
								
					
	 			<%= link_to "Edit", edit_admin_user_path(user), :class=>"btn btn-info" %>
				<%= link_to "Delete", delete_admin_user_path(user), :class=>"btn btn-danger" %>
				
					
				
				
			</td>
			
			
			</tr>
			<% end %>
		</tbody>
		</table>
		
		
		<div class="other_actions">
			<%= link_to "New User", new_admin_user_path, :class => "btn btn-primary" %>
			<br />
				<%= will_paginate @users %>
		</div>	
		
		<br />
	</div>
</div>