<div class="row">
	<div class="span10 offset1">
		<h1>Listing Business Types</h1>

		<table class="table table-hover"">
		<thead>
		<tr>
			<th>Id</th>
			<th>Sector</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
			<% @business_types.each do |business_type| %>
			<tr>
			<td><%= business_type.id %></td>	
			<td><%= business_type.sector %></td>
			<td> 
				
			<%= link_to "Edit", edit_admin_business_type_path(business_type), :class=>"btn btn-info" %>
			<%= link_to "Delete",delete_admin_business_type_path(business_type), :class=>"btn btn-danger" %>
				
			</td>
			
			
			</tr>
			<% end %>
		</tbody>
		</table>
		
		
		<div class="other_actions">
			<%= link_to "New business type", new_admin_business_type_path, :class => "btn btn-primary" %>
			<br />
				<%= will_paginate @business_types %>
		</div>	
		
		<br />
	</div>
</div>
