<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Branchcore CMS | <%= @page_title || 'Admin Area' %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}

		</style>

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
	<body>
		<div class="container">

			<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">&#215;</a>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			</div>
			<% end %>

			<%= yield %>

			<hr>
			<footer>
				<p>
					&copy; Branchcore CRM - 2012
				</p>
			</footer>

		</div>
		<!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<!-- <%= javascript_include_tag    "jquery","bootstrap-transition","bootstrap-alert","bootstrap-modal","bootstrap-dropdown","bootstrap-scrollspy","bootstrap-tab","bootstrap-tooltip","bootstrap-button","bootstrap-collapse","bootstrap-carousel","bootstrap-typeahead" %> -->

	</body>
</html>