<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Branchcore CMS | <%= @page_title || 'Admin Area' %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}

		</style>

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" >
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="#">Branchcore CRM</a>
					<div class="nav-collapse collapse">
						<ul class="nav">

							<li class="dropdown <%= controller?("admin/users") || controller?("")  ? "active":"" %>">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
								<ul class="dropdown-menu">

									<li>
										<%= link_to "Add User", {:controller =>"users", :action => "new", }%>
									</li>

									<li class="divider"></li>

									<li>
										<%= link_to "Manage Users", {:controller =>"users"}%>
									</li>

								</ul>
							</li>

							<li class="dropdown <%= controller?("admin/contacts") ? "active":"" %>">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts <b class="caret"></b></a>
								<ul class="dropdown-menu">

									<li>
										<%= link_to "Add Contact", {:controller =>"contacts", :action => "new", }%>
									</li>

									<li class="divider"></li>
									<li>
										<%= link_to "Manage Contacts", {:controller =>"contacts"}%>
									</li>

								</ul>
							</li>

							<li class="dropdown <%= controller?("admin/business_types") ? "active":"" %>">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Business Types <b class="caret"></b></a>
								<ul class="dropdown-menu">

									<li>
										<%= link_to "Add Business Type", {:controller =>"business_types", :action => "new", }%>
									</li>
									<li class="divider"></li>
									<li>
										<%= link_to "Manage Business Types", {:controller =>"business_types"}%>
									</li>

								</ul>
							</li>

							<li class="dropdown <%= controller?("admin/accounts") ? "active":"" %>">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts <b class="caret"></b></a>
								<ul class="dropdown-menu">

									<li>
										<%= link_to "Add Accounts", {:controller =>"accounts", :action => "new", }%>
									</li>
									<li class="divider"></li>

									<li>
										<%= link_to "Manage Accounts", {:controller =>"accounts"}%>
									</li>

								</ul>
							</li>

							<li class="dropdown <%= controller?("admin/opportunities") ? "active":"" %>">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Opportunities <b class="caret"></b></a>
								<ul class="dropdown-menu">

									<li>
										<%= link_to "Add Opportunity", {:controller =>"opportunities", :action => "new", }%>
									</li>
									<li class="divider"></li>

									<li>
										<%= link_to "Manage Opportunities", {:controller =>"opportunities"}%>
									</li>

								</ul>
							</li>

							<li class="dropdown <%= controller?("admin/tasks") ? "active":"" %>">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks <b class="caret"></b></a>
								<ul class="dropdown-menu">

									<li>
										<%= link_to "Add Task", {:controller =>"tasks", :action => "new", }%>
									</li>
									<li class="divider"></li>

									<li>
										<%= link_to "Manage Task", {:controller =>"tasks"}%>
									</li>

								</ul>
							</li>

						</ul>
						<ul class="nav pull-right">

							<li class="divider-vertical"></li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session[:current_user].name %> <b class="caret"></b></a>
								<ul class="dropdown-menu">

									<li>
										<%= link_to "Sign out", access_logout_path %>
									</li>
								</ul>
							</li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container">

			<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">&#215;</a>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			</div>
			<% end %>

			<%= yield %>

			<hr>
			<footer>
				<p>
					&copy; Branchcore CRM - Company 2012
				</p>

<hr>

<!-- <%= params.inspect %> -->

			</footer>

		</div>
		<!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<!-- <%= javascript_include_tag    "jquery","bootstrap-transition","bootstrap-alert","bootstrap-modal","bootstrap-dropdown","bootstrap-scrollspy","bootstrap-tab","bootstrap-tooltip","bootstrap-button","bootstrap-collapse","bootstrap-carousel","bootstrap-typeahead" %> -->

	</body>
</html>